In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the books.csv file path
csv_path = "../Data/alcohol_consumption.csv"

# Import the books.csv file as a DataFrame
alcohol_con_df = pd.read_csv(csv_path)
alcohol_con_df

,State,County,Both_Sexes_2002,Females_2002,Males_2002,Both_Sexes_2003,Females_2003,Males_2003,Both_Sexes_2004,Females_2004,...,Males_2011,Both_Sexes_2012,Females_2012,Males_2012,Percent_Change_2002_2012_Both_Sexes,Percent_Change_2002_2012_Females,Percent_Change_2002_2012_Males,Percent_Change_2005_2012_Both_Sexes,Percent_Change_2005_2012_Females,Percent_Change_2005_2012_Males
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,65.1,60.3,57.9,62.8,0.9,5.3,-3.0,-0.8,2.1,-3.4
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,73.8,65.2,59.5,71.0,-0.6,2.3,-2.9,-1.5,-0.1,-2.7
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,71.5,62.7,57.3,68.3,-2.9,1.0,-6.1,-2.2,0.2,-4.2
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,77.6,68.1,62.0,74.4,-2.2,-2.2,-2.2,-2.1,-2.4,-1.8
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,76.6,70.1,66.2,74.1,-5.4,-2.5,-7.9,-4.7,-3.2,-6.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Wisconsin,Waupaca,67.4,60.9,74.2,68.4,62.1,74.9,67.0,60.9,...,70.6,63.9,59.7,68.3,-5.3,-2.1,-8.0,-5.2,-3.2,-6.9
69,Wisconsin,Waushara,64.3,57.9,70.9,65.4,59.2,71.8,64.8,59.1,...,71.6,65.8,62.3,69.3,2.2,7.6,-2.3,-0.4,2.4,-2.9
70,Wisconsin,Winnebago,71.5,65.6,77.6,71.7,66.0,77.6,70.3,64.9,...,73.8,68.1,64.8,71.6,-4.7,-1.3,-7.8,-3.6,-1.4,-5.5
71,Wisconsin,Wisconsin,69.1,62.5,75.9,69.7,63.2,76.4,68.3,61.9,...,74.5,66.8,61.5,72.4,-3.3,-1.6,-4.7,-3.1,-2.3,-3.8
72,Wisconsin,Wood,68.9,61.3,76.8,70.0,62.7,77.6,68.5,61.3,...,75.0,67.6,62.5,72.9,-1.9,2.0,-5.1,-2.0,0.6,-4.1

In [3]:
# Add prefix to denote alcohol consumption drinking
alcohol_con_df=alcohol_con_df.add_prefix('alcohol_consumption_')
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
alcohol_con_df=alcohol_con_df.rename(columns={'alcohol_consumption_State': 'State', 'alcohol_consumption_County': 'County'})
alcohol_con_df.head()

,State,County,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,alcohol_consumption_Both_Sexes_2003,alcohol_consumption_Females_2003,alcohol_consumption_Males_2003,alcohol_consumption_Both_Sexes_2004,alcohol_consumption_Females_2004,...,alcohol_consumption_Males_2011,alcohol_consumption_Both_Sexes_2012,alcohol_consumption_Females_2012,alcohol_consumption_Males_2012,alcohol_consumption_Percent_Change_2002_2012_Both_Sexes,alcohol_consumption_Percent_Change_2002_2012_Females,alcohol_consumption_Percent_Change_2002_2012_Males,alcohol_consumption_Percent_Change_2005_2012_Both_Sexes,alcohol_consumption_Percent_Change_2005_2012_Females,alcohol_consumption_Percent_Change_2005_2012_Males
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,65.1,60.3,57.9,62.8,0.9,5.3,-3.0,-0.8,2.1,-3.4
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,73.8,65.2,59.5,71.0,-0.6,2.3,-2.9,-1.5,-0.1,-2.7
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,71.5,62.7,57.3,68.3,-2.9,1.0,-6.1,-2.2,0.2,-4.2
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,77.6,68.1,62.0,74.4,-2.2,-2.2,-2.2,-2.1,-2.4,-1.8
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,76.6,70.1,66.2,74.1,-5.4,-2.5,-7.9,-4.7,-3.2,-6.1

In [4]:
# Make a reference to the books.csv file path
csv_path = "../Data/binge_drinking.csv"

# Import the books.csv file as a DataFrame
binge_drinking_df = pd.read_csv(csv_path)
binge_drinking_df

,State,County,Both_Sexes_2002,Females_2002,Males_2002,Both_Sexes_2003,Females_2003,Males_2003,Both_Sexes_2004,Females_2004,...,Males_2011,Both_Sexes_2012,Females_2012,Males_2012,Percent_Change_2002_2012_Both_Sexes,Percent_Change_2002_2012_Females,Percent_Change_2002_2012_Males,Percent_Change_2005_2012_Both_Sexes,Percent_Change_2005_2012_Females,Percent_Change_2005_2012_Males
0,Wisconsin,Adams,23.0,15.1,31.3,23.5,15.6,31.8,23.3,15.9,...,33.5,26.4,21.1,31.8,14.4,39.8,1.7,12.9,36.6,0.9
1,Wisconsin,Ashland,28.8,18.9,39.1,30.2,20.5,40.2,28.2,19.4,...,41.3,32.3,25.4,39.5,12.2,34.4,1.1,11.1,29.4,1.5
2,Wisconsin,Barron,25.7,15.1,36.6,26.0,15.7,36.6,24.9,15.4,...,38.3,27.3,18.0,36.8,6.2,19.2,0.7,11.6,27.3,5.1
3,Wisconsin,Bayfield,30.2,20.1,40.8,30.6,20.5,41.0,29.7,20.4,...,42.1,32.8,25.3,40.5,8.4,25.9,-0.6,12.6,31.5,3.0
4,Wisconsin,Brown,30.1,20.3,40.2,30.2,20.7,40.0,28.9,20.5,...,35.3,28.0,22.8,33.5,-6.8,12.4,-16.8,-2.8,14.9,-12.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Wisconsin,Waupaca,26.2,16.3,36.5,26.8,17.0,36.9,25.8,16.9,...,32.8,24.6,18.2,31.2,-6.3,11.8,-14.6,-3.9,12.8,-11.8
69,Wisconsin,Waushara,25.5,16.4,35.1,25.6,16.5,35.0,25.5,17.5,...,35.4,27.2,21.1,33.6,6.6,28.9,-4.2,6.7,24.8,-2.5
70,Wisconsin,Winnebago,26.9,19.4,34.6,26.7,19.3,34.3,25.7,19.2,...,31.3,25.6,21.7,29.7,-4.6,11.9,-14.2,0.5,18.9,-10.0
71,Wisconsin,Wisconsin,25.9,17.0,35.1,26.1,17.4,35.1,25.2,17.3,...,34.2,26.1,19.7,32.7,0.7,15.9,-6.9,4.0,19.1,-3.6
72,Wisconsin,Wood,27.8,18.2,37.8,28.7,19.3,38.4,27.7,19.1,...,37.4,29.3,23.2,35.6,5.3,27.6,-5.9,7.1,28.1,-3.5

In [5]:
# Add prefix to denote binge drinking
binge_drinking_df=binge_drinking_df.add_prefix('binge_drinking_')
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
binge_drinking_df=binge_drinking_df.rename(columns={'binge_drinking_State': 'State', 'binge_drinking_County': 'County'})
binge_drinking_df.head()

,State,County,binge_drinking_Both_Sexes_2002,binge_drinking_Females_2002,binge_drinking_Males_2002,binge_drinking_Both_Sexes_2003,binge_drinking_Females_2003,binge_drinking_Males_2003,binge_drinking_Both_Sexes_2004,binge_drinking_Females_2004,...,binge_drinking_Males_2011,binge_drinking_Both_Sexes_2012,binge_drinking_Females_2012,binge_drinking_Males_2012,binge_drinking_Percent_Change_2002_2012_Both_Sexes,binge_drinking_Percent_Change_2002_2012_Females,binge_drinking_Percent_Change_2002_2012_Males,binge_drinking_Percent_Change_2005_2012_Both_Sexes,binge_drinking_Percent_Change_2005_2012_Females,binge_drinking_Percent_Change_2005_2012_Males
0,Wisconsin,Adams,23.0,15.1,31.3,23.5,15.6,31.8,23.3,15.9,...,33.5,26.4,21.1,31.8,14.4,39.8,1.7,12.9,36.6,0.9
1,Wisconsin,Ashland,28.8,18.9,39.1,30.2,20.5,40.2,28.2,19.4,...,41.3,32.3,25.4,39.5,12.2,34.4,1.1,11.1,29.4,1.5
2,Wisconsin,Barron,25.7,15.1,36.6,26.0,15.7,36.6,24.9,15.4,...,38.3,27.3,18.0,36.8,6.2,19.2,0.7,11.6,27.3,5.1
3,Wisconsin,Bayfield,30.2,20.1,40.8,30.6,20.5,41.0,29.7,20.4,...,42.1,32.8,25.3,40.5,8.4,25.9,-0.6,12.6,31.5,3.0
4,Wisconsin,Brown,30.1,20.3,40.2,30.2,20.7,40.0,28.9,20.5,...,35.3,28.0,22.8,33.5,-6.8,12.4,-16.8,-2.8,14.9,-12.3

In [6]:
# Merge two dataframes using an inner join (default).
merge_df = pd.merge(alcohol_con_df, binge_drinking_df, on="County")
merge_df=merge_df.rename(columns={'State_x': 'State'})
merge_df

,State,County,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,alcohol_consumption_Both_Sexes_2003,alcohol_consumption_Females_2003,alcohol_consumption_Males_2003,alcohol_consumption_Both_Sexes_2004,alcohol_consumption_Females_2004,...,binge_drinking_Males_2011,binge_drinking_Both_Sexes_2012,binge_drinking_Females_2012,binge_drinking_Males_2012,binge_drinking_Percent_Change_2002_2012_Both_Sexes,binge_drinking_Percent_Change_2002_2012_Females,binge_drinking_Percent_Change_2002_2012_Males,binge_drinking_Percent_Change_2005_2012_Both_Sexes,binge_drinking_Percent_Change_2005_2012_Females,binge_drinking_Percent_Change_2005_2012_Males
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,33.5,26.4,21.1,31.8,14.4,39.8,1.7,12.9,36.6,0.9
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,41.3,32.3,25.4,39.5,12.2,34.4,1.1,11.1,29.4,1.5
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,38.3,27.3,18.0,36.8,6.2,19.2,0.7,11.6,27.3,5.1
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,42.1,32.8,25.3,40.5,8.4,25.9,-0.6,12.6,31.5,3.0
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,35.3,28.0,22.8,33.5,-6.8,12.4,-16.8,-2.8,14.9,-12.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Wisconsin,Waupaca,67.4,60.9,74.2,68.4,62.1,74.9,67.0,60.9,...,32.8,24.6,18.2,31.2,-6.3,11.8,-14.6,-3.9,12.8,-11.8
69,Wisconsin,Waushara,64.3,57.9,70.9,65.4,59.2,71.8,64.8,59.1,...,35.4,27.2,21.1,33.6,6.6,28.9,-4.2,6.7,24.8,-2.5
70,Wisconsin,Winnebago,71.5,65.6,77.6,71.7,66.0,77.6,70.3,64.9,...,31.3,25.6,21.7,29.7,-4.6,11.9,-14.2,0.5,18.9,-10.0
71,Wisconsin,Wisconsin,69.1,62.5,75.9,69.7,63.2,76.4,68.3,61.9,...,34.2,26.1,19.7,32.7,0.7,15.9,-6.9,4.0,19.1,-3.6
72,Wisconsin,Wood,68.9,61.3,76.8,70.0,62.7,77.6,68.5,61.3,...,37.4,29.3,23.2,35.6,5.3,27.6,-5.9,7.1,28.1,-3.5

In [7]:
# Make a reference to the books.csv file path
csv_path = "../Data/binge_drinking_prop.csv"

# Import the books.csv file as a DataFrame
binge_drinking_prop_df = pd.read_csv(csv_path)
binge_drinking_prop_df

,State,County,Both_Sexes_2002,Females_2002,Males_2002,Both_Sexes_2003,Females_2003,Males_2003,Both_Sexes_2004,Females_2004,...,Males_2011,Both_Sexes_2012,Females_2012,Males_2012,Percent_Change_2002_2012_Both_Sexes,Percent_Change_2002_2012_Females,Percent_Change_2002_2012_Males,Percent_Change_2005_2012_Both_Sexes,Percent_Change_2005_2012_Females,Percent_Change_2005_2012_Males
0,Wisconsin,Adams,38.5,27.5,48.2,38.3,27.5,47.7,38.9,28.7,...,51.5,43.7,36.5,50.6,13.4,32.7,4.9,13.8,33.8,4.4
1,Wisconsin,Ashland,44.0,32.5,53.4,44.7,34.0,53.7,43.4,33.5,...,56.0,49.6,42.7,55.6,12.9,31.4,4.1,12.8,29.5,4.4
2,Wisconsin,Barron,39.7,26.6,50.3,39.6,27.1,49.9,39.1,27.4,...,53.6,43.5,31.4,53.9,9.5,18.0,7.2,14.1,27.0,9.7
3,Wisconsin,Bayfield,43.4,31.7,53.6,43.2,31.8,53.1,42.7,32.2,...,54.3,48.2,40.8,54.5,10.8,28.8,1.6,15.0,34.8,4.9
4,Wisconsin,Brown,40.6,29.9,50.0,40.6,30.2,49.7,39.7,30.5,...,46.1,40.0,34.4,45.2,-1.5,15.3,-9.7,2.0,18.6,-6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Wisconsin,Waupaca,38.9,26.7,49.2,39.2,27.4,49.3,38.6,27.8,...,46.5,38.4,30.5,45.6,-1.1,14.1,-7.2,1.3,16.5,-5.3
69,Wisconsin,Waushara,39.7,28.2,49.4,39.1,27.9,48.8,39.4,29.6,...,49.5,41.4,33.8,48.5,4.3,19.8,-1.9,7.2,21.9,0.4
70,Wisconsin,Winnebago,37.6,29.6,44.6,37.2,29.3,44.2,36.5,29.5,...,42.4,37.6,33.5,41.5,0.1,13.3,-7.0,4.3,20.7,-4.7
71,Wisconsin,Wisconsin,37.5,27.2,46.3,37.5,27.6,46.0,36.9,27.9,...,45.9,39.0,32.0,45.2,4.1,17.8,-2.4,7.4,21.9,0.2
72,Wisconsin,Wood,40.4,29.6,49.3,40.9,30.8,49.4,40.4,31.2,...,49.8,43.3,37.0,48.9,7.3,25.1,-0.8,9.3,27.3,0.6

In [8]:
# Add prefix to denote binge drinking proportion
binge_drinking_prop_df=binge_drinking_prop_df.add_prefix('binge_prop_')
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
binge_drinking_prop_df=binge_drinking_prop_df.rename(columns={'binge_prop_State': 'State', 'binge_prop_County': 'County'})
binge_drinking_prop_df.head()

,State,County,binge_prop_Both_Sexes_2002,binge_prop_Females_2002,binge_prop_Males_2002,binge_prop_Both_Sexes_2003,binge_prop_Females_2003,binge_prop_Males_2003,binge_prop_Both_Sexes_2004,binge_prop_Females_2004,...,binge_prop_Males_2011,binge_prop_Both_Sexes_2012,binge_prop_Females_2012,binge_prop_Males_2012,binge_prop_Percent_Change_2002_2012_Both_Sexes,binge_prop_Percent_Change_2002_2012_Females,binge_prop_Percent_Change_2002_2012_Males,binge_prop_Percent_Change_2005_2012_Both_Sexes,binge_prop_Percent_Change_2005_2012_Females,binge_prop_Percent_Change_2005_2012_Males
0,Wisconsin,Adams,38.5,27.5,48.2,38.3,27.5,47.7,38.9,28.7,...,51.5,43.7,36.5,50.6,13.4,32.7,4.9,13.8,33.8,4.4
1,Wisconsin,Ashland,44.0,32.5,53.4,44.7,34.0,53.7,43.4,33.5,...,56.0,49.6,42.7,55.6,12.9,31.4,4.1,12.8,29.5,4.4
2,Wisconsin,Barron,39.7,26.6,50.3,39.6,27.1,49.9,39.1,27.4,...,53.6,43.5,31.4,53.9,9.5,18.0,7.2,14.1,27.0,9.7
3,Wisconsin,Bayfield,43.4,31.7,53.6,43.2,31.8,53.1,42.7,32.2,...,54.3,48.2,40.8,54.5,10.8,28.8,1.6,15.0,34.8,4.9
4,Wisconsin,Brown,40.6,29.9,50.0,40.6,30.2,49.7,39.7,30.5,...,46.1,40.0,34.4,45.2,-1.5,15.3,-9.7,2.0,18.6,-6.6

In [9]:
# Merge two dataframes using an inner join (default).
merge_df = pd.merge(merge_df, binge_drinking_prop_df, on="County")
merge_df=merge_df.rename(columns={'State_x': 'State'})
merge_df

,State,County,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,alcohol_consumption_Both_Sexes_2003,alcohol_consumption_Females_2003,alcohol_consumption_Males_2003,alcohol_consumption_Both_Sexes_2004,alcohol_consumption_Females_2004,...,binge_prop_Males_2011,binge_prop_Both_Sexes_2012,binge_prop_Females_2012,binge_prop_Males_2012,binge_prop_Percent_Change_2002_2012_Both_Sexes,binge_prop_Percent_Change_2002_2012_Females,binge_prop_Percent_Change_2002_2012_Males,binge_prop_Percent_Change_2005_2012_Both_Sexes,binge_prop_Percent_Change_2005_2012_Females,binge_prop_Percent_Change_2005_2012_Males
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,51.5,43.7,36.5,50.6,13.4,32.7,4.9,13.8,33.8,4.4
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,56.0,49.6,42.7,55.6,12.9,31.4,4.1,12.8,29.5,4.4
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,53.6,43.5,31.4,53.9,9.5,18.0,7.2,14.1,27.0,9.7
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,54.3,48.2,40.8,54.5,10.8,28.8,1.6,15.0,34.8,4.9
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,46.1,40.0,34.4,45.2,-1.5,15.3,-9.7,2.0,18.6,-6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Wisconsin,Waupaca,67.4,60.9,74.2,68.4,62.1,74.9,67.0,60.9,...,46.5,38.4,30.5,45.6,-1.1,14.1,-7.2,1.3,16.5,-5.3
69,Wisconsin,Waushara,64.3,57.9,70.9,65.4,59.2,71.8,64.8,59.1,...,49.5,41.4,33.8,48.5,4.3,19.8,-1.9,7.2,21.9,0.4
70,Wisconsin,Winnebago,71.5,65.6,77.6,71.7,66.0,77.6,70.3,64.9,...,42.4,37.6,33.5,41.5,0.1,13.3,-7.0,4.3,20.7,-4.7
71,Wisconsin,Wisconsin,69.1,62.5,75.9,69.7,63.2,76.4,68.3,61.9,...,45.9,39.0,32.0,45.2,4.1,17.8,-2.4,7.4,21.9,0.2
72,Wisconsin,Wood,68.9,61.3,76.8,70.0,62.7,77.6,68.5,61.3,...,49.8,43.3,37.0,48.9,7.3,25.1,-0.8,9.3,27.3,0.6

In [10]:
# Make a reference to the books.csv file path
csv_path = "../Data/education_by_county.csv"

# Import the books.csv file as a DataFrame
education_by_county_df = pd.read_csv(csv_path)
education_by_county_df

,State,County,Rural_urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural_urban_Continuum_Code_2013,Urban_Influence_Code_2013,Less_than_a_high_school_diploma_1970,High_school_diploma_only_1970,Some_college_1970,Four_years_of_college_or_higher_1970,...,Percent_some_college_or_associates_degree_2000,Percent_bachelors_degree_or_higher_2000,Less_than_a_high_school_diploma_2015_19,High_school_diploma_only_2015_19,Some_college_or_associates_degree_2015_19,Bachelors_degree_or_higher_2015_19,Percent_less_than_a_high_school_diploma_2015_19,Percent_high_school_diploma_only_2015_19,Percent_some_college_or_associates_degree_2015_19,Percent_bachelors_degree_or_higher_2015_19
0,WI,Adams,8,7,8,6,"3,342","1,494",329,259,...,24.8,10.0,"2,013","6,856","5,006","2,231",12.5,42.6,31.1,13.9
1,WI,Ashland,7,11,7,11,"4,895","2,758",921,694,...,27.1,16.5,828,"3,946","3,772","2,114",7.8,37.0,35.4,19.8
2,WI,Barron,6,6,6,6,"10,659","5,672","1,565","1,235",...,28.0,14.9,"3,162","11,654","10,801","6,644",9.8,36.1,33.5,20.6
3,WI,Bayfield,8,7,8,6,"3,590","2,334",630,324,...,31.2,21.6,567,"3,351","4,005","3,576",4.9,29.1,34.8,31.1
4,WI,Brown,2,2,2,2,"31,527","30,188","6,848","7,259",...,28.9,22.5,"13,787","52,162","55,776","52,901",7.9,29.9,31.9,30.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,WI,Waukesha,1,1,1,1,"37,742","45,426","15,614","17,950",...,30.2,34.1,"10,637","63,919","82,126","125,457",3.8,22.7,29.1,44.5
68,WI,Waupaca,6,6,6,6,"11,757","7,359","1,830","1,305",...,24.2,14.8,"3,031","15,141","11,556","7,407",8.2,40.8,31.1,19.9
69,WI,Waushara,8,6,6,6,"4,990","2,579",772,444,...,24.0,11.7,"2,418","7,668","5,218","2,971",13.2,42.0,28.6,16.3
70,WI,Winnebago,3,2,3,2,"28,166","24,911","6,440","6,844",...,26.1,22.8,"8,193","38,353","35,736","32,554",7.1,33.4,31.1,28.3
71,WI,Wood,4,5,4,5,"15,062","12,743","2,979","2,697",...,26.8,16.9,"3,807","19,850","17,243","11,301",7.3,38.0,33.0,21.6

In [11]:
# Merge two dataframes using an inner join (default).
merge_df = pd.merge(merge_df, education_by_county_df, on="County")
merge_df=merge_df.rename(columns={'State_x': 'State'})
merge_df

,State,County,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,alcohol_consumption_Both_Sexes_2003,alcohol_consumption_Females_2003,alcohol_consumption_Males_2003,alcohol_consumption_Both_Sexes_2004,alcohol_consumption_Females_2004,...,Percent_some_college_or_associates_degree_2000,Percent_bachelors_degree_or_higher_2000,Less_than_a_high_school_diploma_2015_19,High_school_diploma_only_2015_19,Some_college_or_associates_degree_2015_19,Bachelors_degree_or_higher_2015_19,Percent_less_than_a_high_school_diploma_2015_19,Percent_high_school_diploma_only_2015_19,Percent_some_college_or_associates_degree_2015_19,Percent_bachelors_degree_or_higher_2015_19
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,24.8,10.0,"2,013","6,856","5,006","2,231",12.5,42.6,31.1,13.9
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,27.1,16.5,828,"3,946","3,772","2,114",7.8,37.0,35.4,19.8
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,28.0,14.9,"3,162","11,654","10,801","6,644",9.8,36.1,33.5,20.6
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,31.2,21.6,567,"3,351","4,005","3,576",4.9,29.1,34.8,31.1
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,28.9,22.5,"13,787","52,162","55,776","52,901",7.9,29.9,31.9,30.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Wisconsin,Waukesha,76.3,71.3,81.6,76.7,71.6,82.1,75.5,70.2,...,30.2,34.1,"10,637","63,919","82,126","125,457",3.8,22.7,29.1,44.5
68,Wisconsin,Waupaca,67.4,60.9,74.2,68.4,62.1,74.9,67.0,60.9,...,24.2,14.8,"3,031","15,141","11,556","7,407",8.2,40.8,31.1,19.9
69,Wisconsin,Waushara,64.3,57.9,70.9,65.4,59.2,71.8,64.8,59.1,...,24.0,11.7,"2,418","7,668","5,218","2,971",13.2,42.0,28.6,16.3
70,Wisconsin,Winnebago,71.5,65.6,77.6,71.7,66.0,77.6,70.3,64.9,...,26.1,22.8,"8,193","38,353","35,736","32,554",7.1,33.4,31.1,28.3
71,Wisconsin,Wood,68.9,61.3,76.8,70.0,62.7,77.6,68.5,61.3,...,26.8,16.9,"3,807","19,850","17,243","11,301",7.3,38.0,33.0,21.6

In [12]:
# Make a reference to the books.csv file path
csv_path = "../Data/heavy_drinking.csv"

# Import the books.csv file as a DataFrame
heavy_drinking_df = pd.read_csv(csv_path)
heavy_drinking_df

,State,County,Both_Sexes_2005,Females_2005,Males_2005,Both_Sexes_2006,Females_2006,Males_2006,Both_Sexes_2007,Females_2007,...,Males_2010,Both_Sexes_2011,Females_2011,Males_2011,Both_Sexes_2012,Females_2012,Males_2012,Percent_Change_2005_2012_Both_Sexes,Percent_Change_2005_2012_Females,Percent_Change_2005_2012_Males
0,Wisconsin,Adams,11.0,8.1,14.1,11.1,8.8,13.6,13.6,11.0,...,14.6,15.3,13.5,17.2,14.7,14.0,15.5,33.4,72.8,9.9
1,Wisconsin,Ashland,13.1,8.8,17.6,12.9,9.0,16.9,15.0,10.8,...,19.2,17.0,12.6,21.6,16.3,12.8,19.8,24.1,45.4,13.0
2,Wisconsin,Barron,9.1,5.9,12.4,9.1,6.3,11.9,10.1,7.2,...,12.7,11.7,8.7,14.8,11.1,8.7,13.7,22.1,46.6,10.1
3,Wisconsin,Bayfield,13.0,10.5,15.7,13.2,11.1,15.3,14.5,12.5,...,16.2,17.2,15.4,19.1,16.5,15.2,17.8,26.2,45.0,13.2
4,Wisconsin,Brown,11.6,8.5,14.8,11.6,8.9,14.3,12.2,9.4,...,14.6,13.9,10.9,16.9,13.0,10.8,15.3,12.4,27.5,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Wisconsin,Waupaca,9.9,6.9,12.9,10.4,7.9,12.9,10.2,7.5,...,12.2,11.5,9.0,14.1,10.9,9.1,12.8,10.6,31.5,-1.1
69,Wisconsin,Waushara,10.7,7.4,14.1,10.7,8.0,13.5,11.7,8.7,...,14.9,13.7,10.7,16.8,13.0,10.9,15.1,21.3,47.7,7.0
70,Wisconsin,Winnebago,10.7,8.5,12.9,10.9,9.2,12.6,11.3,9.5,...,12.7,13.1,11.6,14.6,12.5,11.7,13.3,17.1,38.2,2.7
71,Wisconsin,Wisconsin,10.4,7.8,13.2,10.5,8.4,12.7,11.0,8.6,...,13.0,12.6,10.3,15.0,12.0,10.4,13.6,14.5,33.1,3.1
72,Wisconsin,Wood,11.2,7.6,14.9,11.3,8.2,14.6,12.2,8.9,...,15.6,14.8,11.3,18.3,14.1,11.5,16.7,25.2,51.0,11.5

In [13]:
# Add prefix to denote heavy drinking 
heavy_drinking_df=heavy_drinking_df.add_prefix('Heavy_Drinking_')
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
heavy_drinking_df=heavy_drinking_df.rename(columns={'Heavy_Drinking_State': 'State', 'Heavy_Drinking_County': 'County'})
heavy_drinking_df.head()

,State,County,Heavy_Drinking_Both_Sexes_2005,Heavy_Drinking_Females_2005,Heavy_Drinking_Males_2005,Heavy_Drinking_Both_Sexes_2006,Heavy_Drinking_Females_2006,Heavy_Drinking_Males_2006,Heavy_Drinking_Both_Sexes_2007,Heavy_Drinking_Females_2007,...,Heavy_Drinking_Males_2010,Heavy_Drinking_Both_Sexes_2011,Heavy_Drinking_Females_2011,Heavy_Drinking_Males_2011,Heavy_Drinking_Both_Sexes_2012,Heavy_Drinking_Females_2012,Heavy_Drinking_Males_2012,Heavy_Drinking_Percent_Change_2005_2012_Both_Sexes,Heavy_Drinking_Percent_Change_2005_2012_Females,Heavy_Drinking_Percent_Change_2005_2012_Males
0,Wisconsin,Adams,11.0,8.1,14.1,11.1,8.8,13.6,13.6,11.0,...,14.6,15.3,13.5,17.2,14.7,14.0,15.5,33.4,72.8,9.9
1,Wisconsin,Ashland,13.1,8.8,17.6,12.9,9.0,16.9,15.0,10.8,...,19.2,17.0,12.6,21.6,16.3,12.8,19.8,24.1,45.4,13.0
2,Wisconsin,Barron,9.1,5.9,12.4,9.1,6.3,11.9,10.1,7.2,...,12.7,11.7,8.7,14.8,11.1,8.7,13.7,22.1,46.6,10.1
3,Wisconsin,Bayfield,13.0,10.5,15.7,13.2,11.1,15.3,14.5,12.5,...,16.2,17.2,15.4,19.1,16.5,15.2,17.8,26.2,45.0,13.2
4,Wisconsin,Brown,11.6,8.5,14.8,11.6,8.9,14.3,12.2,9.4,...,14.6,13.9,10.9,16.9,13.0,10.8,15.3,12.4,27.5,3.5

In [14]:
# Merge two dataframes using an inner join (default).
merge_df = pd.merge(merge_df, heavy_drinking_df, on="County")
merge_df=merge_df.rename(columns={'State_x': 'State'})
merge_df

,State,County,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,alcohol_consumption_Both_Sexes_2003,alcohol_consumption_Females_2003,alcohol_consumption_Males_2003,alcohol_consumption_Both_Sexes_2004,alcohol_consumption_Females_2004,...,Heavy_Drinking_Males_2010,Heavy_Drinking_Both_Sexes_2011,Heavy_Drinking_Females_2011,Heavy_Drinking_Males_2011,Heavy_Drinking_Both_Sexes_2012,Heavy_Drinking_Females_2012,Heavy_Drinking_Males_2012,Heavy_Drinking_Percent_Change_2005_2012_Both_Sexes,Heavy_Drinking_Percent_Change_2005_2012_Females,Heavy_Drinking_Percent_Change_2005_2012_Males
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,14.6,15.3,13.5,17.2,14.7,14.0,15.5,33.4,72.8,9.9
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,19.2,17.0,12.6,21.6,16.3,12.8,19.8,24.1,45.4,13.0
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,12.7,11.7,8.7,14.8,11.1,8.7,13.7,22.1,46.6,10.1
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,16.2,17.2,15.4,19.1,16.5,15.2,17.8,26.2,45.0,13.2
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,14.6,13.9,10.9,16.9,13.0,10.8,15.3,12.4,27.5,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Wisconsin,Waukesha,76.3,71.3,81.6,76.7,71.6,82.1,75.5,70.2,...,13.5,12.5,9.5,15.8,11.9,9.6,14.3,13.7,23.8,7.7
68,Wisconsin,Waupaca,67.4,60.9,74.2,68.4,62.1,74.9,67.0,60.9,...,12.2,11.5,9.0,14.1,10.9,9.1,12.8,10.6,31.5,-1.1
69,Wisconsin,Waushara,64.3,57.9,70.9,65.4,59.2,71.8,64.8,59.1,...,14.9,13.7,10.7,16.8,13.0,10.9,15.1,21.3,47.7,7.0
70,Wisconsin,Winnebago,71.5,65.6,77.6,71.7,66.0,77.6,70.3,64.9,...,12.7,13.1,11.6,14.6,12.5,11.7,13.3,17.1,38.2,2.7
71,Wisconsin,Wood,68.9,61.3,76.8,70.0,62.7,77.6,68.5,61.3,...,15.6,14.8,11.3,18.3,14.1,11.5,16.7,25.2,51.0,11.5

In [15]:
# Make a reference to the books.csv file path
csv_path = "../Data/population_county_estimate.csv"

# Import the books.csv file as a DataFrame
population_county_df = pd.read_csv(csv_path)
population_county_df

,State,County,Population_1990,Population_2000,Population_2010,Population_2020
0,Wisconsin,Adams,"15,682","19,940","20,875","20,654"
1,Wisconsin,Ashland,"16,307","16,845","16,157","16,027"
2,Wisconsin,Barron,"40,750","44,961","45,870","46,711"
3,Wisconsin,Bayfield,"14,008","15,027","15,014","16,220"
4,Wisconsin,Brown,"194,594","226,633","248,007","268,740"
...,...,...,...,...,...,...
68,Wisconsin,Waupaca,"46,104","51,844","52,410","51,812"
69,Wisconsin,Waushara,"19,385","23,047","24,496","24,520"
70,Wisconsin,Winnebago,"140,320","156,752","166,994","171,730"
71,Wisconsin,Wood,"73,605","75,500","74,749","74,207"
72,Wisconsin,Wisconsin,0,0,0,0

In [16]:
# Merge two dataframes using an inner join (default).
merge_df = pd.merge(merge_df, population_county_df, on="County")
merge_df

,State_x,County,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,alcohol_consumption_Both_Sexes_2003,alcohol_consumption_Females_2003,alcohol_consumption_Males_2003,alcohol_consumption_Both_Sexes_2004,alcohol_consumption_Females_2004,...,Heavy_Drinking_Females_2012,Heavy_Drinking_Males_2012,Heavy_Drinking_Percent_Change_2005_2012_Both_Sexes,Heavy_Drinking_Percent_Change_2005_2012_Females,Heavy_Drinking_Percent_Change_2005_2012_Males,State_y,Population_1990,Population_2000,Population_2010,Population_2020
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,14.0,15.5,33.4,72.8,9.9,Wisconsin,"15,682","19,940","20,875","20,654"
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,12.8,19.8,24.1,45.4,13.0,Wisconsin,"16,307","16,845","16,157","16,027"
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,8.7,13.7,22.1,46.6,10.1,Wisconsin,"40,750","44,961","45,870","46,711"
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,15.2,17.8,26.2,45.0,13.2,Wisconsin,"14,008","15,027","15,014","16,220"
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,10.8,15.3,12.4,27.5,3.5,Wisconsin,"194,594","226,633","248,007","268,740"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Wisconsin,Waukesha,76.3,71.3,81.6,76.7,71.6,82.1,75.5,70.2,...,9.6,14.3,13.7,23.8,7.7,Wisconsin,"304,715","360,810","389,891","406,978"
68,Wisconsin,Waupaca,67.4,60.9,74.2,68.4,62.1,74.9,67.0,60.9,...,9.1,12.8,10.6,31.5,-1.1,Wisconsin,"46,104","51,844","52,410","51,812"
69,Wisconsin,Waushara,64.3,57.9,70.9,65.4,59.2,71.8,64.8,59.1,...,10.9,15.1,21.3,47.7,7.0,Wisconsin,"19,385","23,047","24,496","24,520"
70,Wisconsin,Winnebago,71.5,65.6,77.6,71.7,66.0,77.6,70.3,64.9,...,11.7,13.3,17.1,38.2,2.7,Wisconsin,"140,320","156,752","166,994","171,730"
71,Wisconsin,Wood,68.9,61.3,76.8,70.0,62.7,77.6,68.5,61.3,...,11.5,16.7,25.2,51.0,11.5,Wisconsin,"73,605","75,500","74,749","74,207"

In [17]:
# Make a reference to the books.csv file path
csv_path = "../Data/poverty_by_county.csv"

# Import the books.csv file as a DataFrame
poverty_by_county_df = pd.read_csv(csv_path)
poverty_by_county_df

,Stabr,County,Rural_urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural_urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,PCTPOVALL_2019,...,CI90UB017P_2019,POV517_2019,CI90LB517_2019,CI90UB517_2019,PCTPOV517_2019,CI90LB517P_2019,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019
0,WI,Adams,8,7,8,6,"2,231","1,738","2,724",11.6,...,23.8,354,220,488,16.8,10.4,23.2,"53,156","48,422","57,890"
1,WI,Ashland,7,11,7,11,"2,655","2,257","3,053",17.8,...,29.0,521,378,664,21.5,15.6,27.4,"47,202","42,492","51,912"
2,WI,Barron,6,6,6,6,"3,968","3,170","4,766",8.9,...,15.6,763,495,"1,031",10.8,7.0,14.6,"54,372","50,433","58,311"
3,WI,Bayfield,8,7,8,6,"1,533","1,154","1,912",10.3,...,23.6,316,204,428,17.0,11.0,23.0,"58,065","54,157","61,973"
4,WI,Brown,2,2,2,2,"25,456","22,475","28,437",9.9,...,14.7,"4,995","3,937","6,053",11.2,8.8,13.6,"65,494","61,806","69,182"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,WI,Waukesha,1,1,1,1,"18,915","16,096","21,734",4.7,...,6.2,"3,024","2,352","3,696",4.7,3.6,5.8,"91,070","87,795","94,345"
68,WI,Waupaca,6,6,6,6,"4,329","3,442","5,216",8.8,...,15.8,843,574,"1,112",11.4,7.8,15.0,"61,773","58,311","65,235"
69,WI,Waushara,8,6,6,6,"2,863","2,381","3,345",12.4,...,23.6,540,378,702,16.7,11.7,21.7,"55,476","51,863","59,089"
70,WI,Winnebago,3,2,3,2,"15,965","13,631","18,299",9.7,...,14.5,"2,780","2,098","3,462",11.1,8.4,13.8,"59,643","56,227","63,059"
71,WI,Wood,4,5,4,5,"7,734","6,479","8,989",10.7,...,18.9,"1,633","1,233","2,033",14.4,10.9,17.9,"57,325","53,372","61,278"

In [18]:
# Merge two dataframes using an inner join (default).
merge_df = pd.merge(merge_df, poverty_by_county_df, on="County")
merge_df

,State_x,County,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,alcohol_consumption_Both_Sexes_2003,alcohol_consumption_Females_2003,alcohol_consumption_Males_2003,alcohol_consumption_Both_Sexes_2004,alcohol_consumption_Females_2004,...,CI90UB017P_2019,POV517_2019,CI90LB517_2019,CI90UB517_2019,PCTPOV517_2019,CI90LB517P_2019,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,23.8,354,220,488,16.8,10.4,23.2,"53,156","48,422","57,890"
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,29.0,521,378,664,21.5,15.6,27.4,"47,202","42,492","51,912"
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,15.6,763,495,"1,031",10.8,7.0,14.6,"54,372","50,433","58,311"
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,23.6,316,204,428,17.0,11.0,23.0,"58,065","54,157","61,973"
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,14.7,"4,995","3,937","6,053",11.2,8.8,13.6,"65,494","61,806","69,182"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Wisconsin,Waukesha,76.3,71.3,81.6,76.7,71.6,82.1,75.5,70.2,...,6.2,"3,024","2,352","3,696",4.7,3.6,5.8,"91,070","87,795","94,345"
68,Wisconsin,Waupaca,67.4,60.9,74.2,68.4,62.1,74.9,67.0,60.9,...,15.8,843,574,"1,112",11.4,7.8,15.0,"61,773","58,311","65,235"
69,Wisconsin,Waushara,64.3,57.9,70.9,65.4,59.2,71.8,64.8,59.1,...,23.6,540,378,702,16.7,11.7,21.7,"55,476","51,863","59,089"
70,Wisconsin,Winnebago,71.5,65.6,77.6,71.7,66.0,77.6,70.3,64.9,...,14.5,"2,780","2,098","3,462",11.1,8.4,13.8,"59,643","56,227","63,059"
71,Wisconsin,Wood,68.9,61.3,76.8,70.0,62.7,77.6,68.5,61.3,...,18.9,"1,633","1,233","2,033",14.4,10.9,17.9,"57,325","53,372","61,278"

In [19]:
# Make a reference to the books.csv file path
csv_path = "../Data/unemployment_by_county.csv"

# Import the books.csv file as a DataFrame
unemployment_by_county_df = pd.read_csv(csv_path)
unemployment_by_county_df

,State,County,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,Civilian_labor_force_2001,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,WI,Wisconsin,NaN,NaN,NaN,"2,985,643","2,884,737","100,906",3.4,"3,017,681",...,"3,094,325","2,993,025","101,300",3.3,"3,065,402","2,872,609","192,793",6.3,"64,177",100.0
1,WI,Adams,8.0,6.0,0.0,"8,892","8,502",390,4.4,"9,093",...,"8,120","7,717",403,5.0,"8,047","7,281",766,9.5,"53,156",82.8
2,WI,Ashland,7.0,11.0,0.0,"8,904","8,434",470,5.3,"9,129",...,"7,841","7,473",368,4.7,"7,686","7,035",651,8.5,"47,202",73.5
3,WI,Barron,6.0,6.0,0.0,"24,959","23,987",972,3.9,"25,291",...,"24,276","23,332",944,3.9,"23,873","22,413","1,460",6.1,"54,372",84.7
4,WI,Bayfield,8.0,6.0,0.0,"7,715","7,309",406,5.3,"7,948",...,"7,531","7,120",411,5.5,"7,399","6,711",688,9.3,"58,065",90.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,WI,Waukesha,1.0,1.0,1.0,"210,606","204,958","5,648",2.7,"211,507",...,"224,406","217,978","6,428",2.9,"220,498","208,246","12,252",5.6,"91,070",141.9
69,WI,Waupaca,6.0,6.0,0.0,"27,822","26,899",923,3.3,"28,148",...,"25,795","24,970",825,3.2,"25,439","24,028","1,411",5.5,"61,773",96.3
70,WI,Waushara,6.0,6.0,0.0,"11,801","11,313",488,4.1,"12,366",...,"11,376","10,922",454,4.0,"11,080","10,378",702,6.3,"55,476",86.4
71,WI,Winnebago,3.0,2.0,1.0,"89,669","87,231","2,438",2.7,"91,472",...,"91,079","88,386","2,693",3.0,"91,236","86,270","4,966",5.4,"59,643",92.9
72,WI,Wood,4.0,5.0,0.0,"40,907","39,344","1,563",3.8,"41,138",...,"34,956","33,647","1,309",3.7,"34,538","32,233","2,305",6.7,"57,325",89.3

In [20]:
# Merge two dataframes using an inner join (default).
merge_df = pd.merge(merge_df, unemployment_by_county_df, on="County")
merge_df

,State_x,County,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,alcohol_consumption_Both_Sexes_2003,alcohol_consumption_Females_2003,alcohol_consumption_Males_2003,alcohol_consumption_Both_Sexes_2004,alcohol_consumption_Females_2004,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,"8,120","7,717",403,5.0,"8,047","7,281",766,9.5,"53,156",82.8
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,"7,841","7,473",368,4.7,"7,686","7,035",651,8.5,"47,202",73.5
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,"24,276","23,332",944,3.9,"23,873","22,413","1,460",6.1,"54,372",84.7
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,"7,531","7,120",411,5.5,"7,399","6,711",688,9.3,"58,065",90.5
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,"141,022","136,714","4,308",3.1,"140,454","132,013","8,441",6.0,"65,494",102.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Wisconsin,Waukesha,76.3,71.3,81.6,76.7,71.6,82.1,75.5,70.2,...,"224,406","217,978","6,428",2.9,"220,498","208,246","12,252",5.6,"91,070",141.9
68,Wisconsin,Waupaca,67.4,60.9,74.2,68.4,62.1,74.9,67.0,60.9,...,"25,795","24,970",825,3.2,"25,439","24,028","1,411",5.5,"61,773",96.3
69,Wisconsin,Waushara,64.3,57.9,70.9,65.4,59.2,71.8,64.8,59.1,...,"11,376","10,922",454,4.0,"11,080","10,378",702,6.3,"55,476",86.4
70,Wisconsin,Winnebago,71.5,65.6,77.6,71.7,66.0,77.6,70.3,64.9,...,"91,079","88,386","2,693",3.0,"91,236","86,270","4,966",5.4,"59,643",92.9
71,Wisconsin,Wood,68.9,61.3,76.8,70.0,62.7,77.6,68.5,61.3,...,"34,956","33,647","1,309",3.7,"34,538","32,233","2,305",6.7,"57,325",89.3

In [21]:
# Make a reference to the books.csv file path
csv_path = "../Data/wi_county_gdp.csv"

# Import the books.csv file as a DataFrame
wi_county_gdp_df = pd.read_csv(csv_path)
wi_county_gdp_df

,County,Real_GDP_2017,Real_GDP_2018,Real_GDP_2019,Real_GDP_2020,Rank_in_State_2020,Percent_change_2018,Percent_change_2019,Percent_change2020,Change_Rank_in_State_2020
0,Wisconsin,"292,311,180","299,416,044","303,891,178","291,715,832",--,2.4,1.5,-4.0,--
1,Adams,"505,872","516,924","532,566","545,866",61,2.2,3.0,2.5,4
2,Ashland,"663,580","657,888","674,573","627,256",55,-0.9,2.5,-7.0,63
3,Barron,"1,944,367","2,074,333","1,980,728","1,933,072",29,6.7,-4.5,-2.4,21
4,Bayfield,"398,512","417,756","419,615","396,347",66,4.8,0.4,-5.5,56
...,...,...,...,...,...,...,...,...,...,...
68,Waukesha,"27,088,218","27,785,889","28,533,170","27,181,717",3,2.6,2.7,-4.7,51
69,Waupaca,"1,888,758","1,907,508","1,892,753","1,847,360",30,1.0,-0.8,-2.4,20
70,Waushara,"569,113","598,249","623,833","587,824",58,5.1,4.3,-5.8,58
71,Winnebago,"9,213,662","9,492,021","9,704,179","9,302,102",6,3.0,2.2,-4.1,42
72,Wood,"3,549,292","3,542,052","3,683,297","3,588,744",20,-0.2,4.0,-2.6,22

In [22]:
# Merge two dataframes using an inner join (default).
merge_df = pd.merge(merge_df, wi_county_gdp_df, on="County")
merge_df

,State_x,County,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,alcohol_consumption_Both_Sexes_2003,alcohol_consumption_Females_2003,alcohol_consumption_Males_2003,alcohol_consumption_Both_Sexes_2004,alcohol_consumption_Females_2004,...,Med_HH_Income_Percent_of_State_Total_2019,Real_GDP_2017,Real_GDP_2018,Real_GDP_2019,Real_GDP_2020,Rank_in_State_2020,Percent_change_2018,Percent_change_2019,Percent_change2020,Change_Rank_in_State_2020
0,Wisconsin,Adams,59.8,55.0,64.8,61.5,56.5,66.6,60.0,55.4,...,82.8,"505,872","516,924","532,566","545,866",61,2.2,3.0,2.5,4
1,Wisconsin,Ashland,65.5,58.2,73.1,67.5,60.3,74.8,65.0,57.9,...,73.5,"663,580","657,888","674,573","627,256",55,-0.9,2.5,-7.0,63
2,Wisconsin,Barron,64.6,56.7,72.7,65.5,57.9,73.3,63.7,56.5,...,84.7,"1,944,367","2,074,333","1,980,728","1,933,072",29,6.7,-4.5,-2.4,21
3,Wisconsin,Bayfield,69.6,63.4,76.0,70.8,64.5,77.3,69.4,63.2,...,90.5,"398,512","417,756","419,615","396,347",66,4.8,0.4,-5.5,56
4,Wisconsin,Brown,74.1,67.9,80.4,74.4,68.5,80.5,72.9,67.3,...,102.1,"16,365,318","16,938,177","16,948,230","16,148,050",4,3.5,0.1,-4.7,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Wisconsin,Waukesha,76.3,71.3,81.6,76.7,71.6,82.1,75.5,70.2,...,141.9,"27,088,218","27,785,889","28,533,170","27,181,717",3,2.6,2.7,-4.7,51
68,Wisconsin,Waupaca,67.4,60.9,74.2,68.4,62.1,74.9,67.0,60.9,...,96.3,"1,888,758","1,907,508","1,892,753","1,847,360",30,1.0,-0.8,-2.4,20
69,Wisconsin,Waushara,64.3,57.9,70.9,65.4,59.2,71.8,64.8,59.1,...,86.4,"569,113","598,249","623,833","587,824",58,5.1,4.3,-5.8,58
70,Wisconsin,Winnebago,71.5,65.6,77.6,71.7,66.0,77.6,70.3,64.9,...,92.9,"9,213,662","9,492,021","9,704,179","9,302,102",6,3.0,2.2,-4.1,42
71,Wisconsin,Wood,68.9,61.3,76.8,70.0,62.7,77.6,68.5,61.3,...,89.3,"3,549,292","3,542,052","3,683,297","3,588,744",20,-0.2,4.0,-2.6,22

In [23]:
# Rename goofy state column
merge_df=merge_df.rename(columns={'State_x_x': 'State'})

In [24]:
#Write to CSV
merge_df.to_csv('toy_data_without_offenses.csv', encoding='utf-8')

## Good stopping point before merges/joins get more complicated

In [25]:
# Make a reference to the books.csv file path
csv_path = "../Data/offenses_2018.csv"

# Import the books.csv file as a DataFrame
offenses_2018_df = pd.read_csv(csv_path)
offenses_2018_df

,County,Agency_Name,Offense_Description,Min_months_submitted,Year,Offense_Count
0,Adams,Rome Town PD,Simple Assault,12,2018,11
1,Adams,Adams PD,Simple Assault,12,2018,2
2,Adams,Adams Co SO,Simple Assault,12,2018,130
3,Adams,Rome Town PD,Arson,12,2018,1
4,Adams,Adams PD,Arson,12,2018,1
...,...,...,...,...,...,...
3928,Wood,Port Edwards PD,Homicide,9,2018,0
3929,Wood,Pittsville PD,Homicide,12,2018,0
3930,Wood,Nekoosa PD,Homicide,12,2018,0
3931,Wood,Marshfield PD,Homicide,12,2018,0
3932,Wood,Grand Rapids PD,Homicide,12,2018,0

In [26]:
# Make a reference to the books.csv file path
csv_path = "../Data/offenses_2019.csv"

# Import the books.csv file as a DataFrame
offenses_2019_df = pd.read_csv(csv_path)
offenses_2019_df

,County,Agency_Name,Offense_Description,Min_months_submitted,Year,Offense_Count
0,Adams,Rome Town PD,Human Trafficking - Involuntary Servitude,12,2019,0
1,Adams,Adams PD,Human Trafficking - Involuntary Servitude,12,2019,0
2,Adams,Adams Co SO,Human Trafficking - Involuntary Servitude,12,2019,0
3,Adams,Rome Town PD,Human Trafficking - Commercial Sex,12,2019,0
4,Adams,Adams PD,Human Trafficking - Commercial Sex,12,2019,0
...,...,...,...,...,...,...
4769,Wood,Port Edwards PD,Homicide,12,2019,0
4770,Wood,Pittsville PD,Homicide,12,2019,0
4771,Wood,Nekoosa PD,Homicide,12,2019,0
4772,Wood,Marshfield PD,Homicide,12,2019,0
4773,Wood,Grand Rapids PD,Homicide,12,2019,0

In [27]:
# Concat the two offenses data frames
offenses_merge_df = pd.concat([offenses_2018_df, offenses_2019_df], ignore_index=True)
offenses_merge_df

,County,Agency_Name,Offense_Description,Min_months_submitted,Year,Offense_Count
0,Adams,Rome Town PD,Simple Assault,12,2018,11
1,Adams,Adams PD,Simple Assault,12,2018,2
2,Adams,Adams Co SO,Simple Assault,12,2018,130
3,Adams,Rome Town PD,Arson,12,2018,1
4,Adams,Adams PD,Arson,12,2018,1
...,...,...,...,...,...,...
8702,Wood,Port Edwards PD,Homicide,12,2019,0
8703,Wood,Pittsville PD,Homicide,12,2019,0
8704,Wood,Nekoosa PD,Homicide,12,2019,0
8705,Wood,Marshfield PD,Homicide,12,2019,0
8706,Wood,Grand Rapids PD,Homicide,12,2019,0

In [28]:
# Make a reference to the books.csv file path
csv_path = "../Data/offenses_2020.csv"

# Import the books.csv file as a DataFrame
offenses_2020_df = pd.read_csv(csv_path)
offenses_2020_df

,County,Agency_Name,Offense_Description,Min_months_submitted,Year,Offense_Count
0,Adams,Rome Town PD,Human Trafficking - Involuntary Servitude,12,2020,0
1,Adams,Adams PD,Human Trafficking - Involuntary Servitude,12,2020,0
2,Adams,Adams Co SO,Human Trafficking - Involuntary Servitude,12,2020,0
3,Adams,Rome Town PD,Human Trafficking - Commercial Sex,12,2020,0
4,Adams,Adams PD,Human Trafficking - Commercial Sex,12,2020,1
...,...,...,...,...,...,...
4747,Wood,Port Edwards PD,Homicide,12,2020,0
4748,Wood,Pittsville PD,Homicide,12,2020,0
4749,Wood,Nekoosa PD,Homicide,12,2020,1
4750,Wood,Marshfield PD,Homicide,12,2020,0
4751,Wood,Grand Rapids PD,Homicide,12,2020,0

In [29]:
# Concat the 2020 offenses data frame to the merged
offenses_merge_df = pd.concat([offenses_merge_df, offenses_2020_df], ignore_index=True)
offenses_merge_df

,County,Agency_Name,Offense_Description,Min_months_submitted,Year,Offense_Count
0,Adams,Rome Town PD,Simple Assault,12,2018,11
1,Adams,Adams PD,Simple Assault,12,2018,2
2,Adams,Adams Co SO,Simple Assault,12,2018,130
3,Adams,Rome Town PD,Arson,12,2018,1
4,Adams,Adams PD,Arson,12,2018,1
...,...,...,...,...,...,...
13454,Wood,Port Edwards PD,Homicide,12,2020,0
13455,Wood,Pittsville PD,Homicide,12,2020,0
13456,Wood,Nekoosa PD,Homicide,12,2020,1
13457,Wood,Marshfield PD,Homicide,12,2020,0
13458,Wood,Grand Rapids PD,Homicide,12,2020,0

In [30]:
#Now for the big one!!!
total_merge_df = pd.merge(offenses_merge_df, merge_df, on='County', how='left')
total_merge_df

,County,Agency_Name,Offense_Description,Min_months_submitted,Year,Offense_Count,State_x,alcohol_consumption_Both_Sexes_2002,alcohol_consumption_Females_2002,alcohol_consumption_Males_2002,...,Med_HH_Income_Percent_of_State_Total_2019,Real_GDP_2017,Real_GDP_2018,Real_GDP_2019,Real_GDP_2020,Rank_in_State_2020,Percent_change_2018,Percent_change_2019,Percent_change2020,Change_Rank_in_State_2020
0,Adams,Rome Town PD,Simple Assault,12,2018,11,Wisconsin,59.8,55.0,64.8,...,82.8,"505,872","516,924","532,566","545,866",61,2.2,3.0,2.5,4
1,Adams,Adams PD,Simple Assault,12,2018,2,Wisconsin,59.8,55.0,64.8,...,82.8,"505,872","516,924","532,566","545,866",61,2.2,3.0,2.5,4
2,Adams,Adams Co SO,Simple Assault,12,2018,130,Wisconsin,59.8,55.0,64.8,...,82.8,"505,872","516,924","532,566","545,866",61,2.2,3.0,2.5,4
3,Adams,Rome Town PD,Arson,12,2018,1,Wisconsin,59.8,55.0,64.8,...,82.8,"505,872","516,924","532,566","545,866",61,2.2,3.0,2.5,4
4,Adams,Adams PD,Arson,12,2018,1,Wisconsin,59.8,55.0,64.8,...,82.8,"505,872","516,924","532,566","545,866",61,2.2,3.0,2.5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13454,Wood,Port Edwards PD,Homicide,12,2020,0,Wisconsin,68.9,61.3,76.8,...,89.3,"3,549,292","3,542,052","3,683,297","3,588,744",20,-0.2,4.0,-2.6,22
13455,Wood,Pittsville PD,Homicide,12,2020,0,Wisconsin,68.9,61.3,76.8,...,89.3,"3,549,292","3,542,052","3,683,297","3,588,744",20,-0.2,4.0,-2.6,22
13456,Wood,Nekoosa PD,Homicide,12,2020,1,Wisconsin,68.9,61.3,76.8,...,89.3,"3,549,292","3,542,052","3,683,297","3,588,744",20,-0.2,4.0,-2.6,22
13457,Wood,Marshfield PD,Homicide,12,2020,0,Wisconsin,68.9,61.3,76.8,...,89.3,"3,549,292","3,542,052","3,683,297","3,588,744",20,-0.2,4.0,-2.6,22
13458,Wood,Grand Rapids PD,Homicide,12,2020,0,Wisconsin,68.9,61.3,76.8,...,89.3,"3,549,292","3,542,052","3,683,297","3,588,744",20,-0.2,4.0,-2.6,22

In [31]:
#Write to CSV
total_merge_df.to_csv('toy_data.csv', encoding='utf-8')