# Machine Learning Preprocessing
This notebook draws data from the AWS database into two pandas dataframes. The two dataframes are then merged and prepared for unsupervised machine learning. The output from this notebook is a CSV. 

For futher detail into the database please see the Data directory. 

For further detail into the exploratory analysis of this dataset please see the E_A directory.

To see the machine learning model please see the machine_learning_final notebook.


## Imports Needed

In [1]:
# Initial imports
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table

## Load The Data

In [2]:
#Create Connection to AWS
database_url = 'postgresql://postgres:awspassword@wisconsin-crime-data.c24ehsgyv1el.us-east-1.rds.amazonaws.com:5432/wisconsin-crime-data'
engine= create_engine(database_url)
connection = engine.connect()
population_data_df = pd.read_sql_table('ml_data', engine)

In [3]:
population_data_df.head(5)

,state,county,ue_rural_urban_continuum_code_2013,ue_urban_influence_code_2013,ue_metro_2013,ue_civilian_labor_force_2000,ue_employed_2000,ue_unemployed_2000,ue_unemployment_rate_2000,ue_civilian_labor_force_2001,...,percent_some_college_or_associates_degree_2000,percent_bachelors_degree_or_higher_2000,less_than_a_high_school_diploma_2015_19,high_school_diploma_only_2015_19,some_college_or_associates_degree_2015_19,bachelors_degree_or_higher_2015_19,percent_less_than_a_high_school_diploma_2015_19,percent_high_school_diploma_only_2015_19,percent_some_college_or_associates_degree_2015_19,percent_bachelors_degree_or_higher_2015_19
0,WI,Adams,8,6,0,8892,8502,390,4.4,9093,...,24.8,10.0,2013,6856,5006,2231,12.5,42.6,31.1,13.9
1,WI,Ashland,7,11,0,8904,8434,470,5.3,9129,...,27.1,16.5,828,3946,3772,2114,7.8,37.0,35.4,19.8
2,WI,Barron,6,6,0,24959,23987,972,3.9,25291,...,28.0,14.9,3162,11654,10801,6644,9.8,36.1,33.5,20.6
3,WI,Bayfield,8,6,0,7715,7309,406,5.3,7948,...,31.2,21.6,567,3351,4005,3576,4.9,29.1,34.8,31.1
4,WI,Brown,2,2,1,131182,127485,3697,2.8,132306,...,28.9,22.5,13787,52162,55776,52901,7.9,29.9,31.9,30.3

In [4]:
# Load second table as DataFrame
offenses_data_df = pd.read_sql_table('offenses_by_county', engine)
offenses_data_df.head(5)

  county offense_description  year  sum_offense_count
0  Adams  Aggravated Assault  2020                 38
1  Adams  Aggravated Assault  2019                 23
2  Adams  Aggravated Assault  2018                 31
3  Adams               Arson  2020                  0
4  Adams               Arson  2019                  3

## Use Pandas to Prepare Data for Machine Learning

In [5]:
# Drop the year column
offenses_data_df = offenses_data_df.drop('year',axis=1)

In [6]:
# Offense descriptions as columns
offenses_data_df= offenses_data_df.groupby(['county','offense_description'], as_index=False).sum().pivot('county','offense_description')
offenses_data_df

                     sum_offense_count                          \
offense_description Aggravated Assault Arson Burglary Homicide
county
Adams                               92     6      343        0
Ashland                            111     8      116        1
Barron                             101     4      155        5
Bayfield                            73     4      120        1
Brown                             1460    50     1077       13
...                                ...   ...      ...      ...
Waukesha                           537    19      965       19
Waupaca                            182     5      268        3
Waushara                            64     2      115        1
Winnebago                          655    22      964        8
Wood                                65     8      376        4

                                                        \
offense_description Human Trafficking - Commercial Sex
county
Adams                                                1
Ashland                                              0
Barron                                               0
Bayfield                                             0
Brown                                               44
...                                                ...
Waukesha                                             1
Waupaca                                              0
Waushara                                             0
Winnebago                                            5
Wood                                                 0

                                                                             \
offense_description Human Trafficking - Involuntary Servitude Larceny Theft
county
Adams                                                       0           559
Ashland                                                     0           757
Barron                                                      0           975
Bayfield                                                    0           225
Brown                                                       1          7593
...                                                       ...           ...
Waukesha                                                    0          9094
Waupaca                                                     0          1518
Waushara                                                    0           768
Winnebago                                                   3          5371
Wood                                                        0          2979

                                                                     \
offense_description Motor Vehicle Theft Rape - revised 2017 Robbery
county
Adams                                33                  20       4
Ashland                              83                  16       3
Barron                               72                  56       1
Bayfield                             30                   8       0
Brown                               507                 392     169
...                                 ...                 ...     ...
Waukesha                            474                 196     142
Waupaca                              77                  72       4
Waushara                             29                  18       2
Winnebago                           364                 213      74
Wood                                137                 140       8


offense_description Simple Assault
county
Adams                          453
Ashland                        124
Barron                         318
Bayfield                        53
Brown                         3759
...                            ...
Waukesha                      1693
Waupaca                        423
Waushara                       212
Winnebago                     2191
Wood                           740

[72 rows x 11 columns]

In [7]:
# Condense column index
offenses_data_df.columns = [' '.join(col).strip() for col in offenses_data_df.columns.values]
offenses_data_df

,sum_offense_count Aggravated Assault,sum_offense_count Arson,sum_offense_count Burglary,sum_offense_count Homicide,sum_offense_count Human Trafficking - Commercial Sex,sum_offense_count Human Trafficking - Involuntary Servitude,sum_offense_count Larceny Theft,sum_offense_count Motor Vehicle Theft,sum_offense_count Rape - revised 2017,sum_offense_count Robbery,sum_offense_count Simple Assault
county,,,,,,,,,,,
Adams,92,6,343,0,1,0,559,33,20,4,453
Ashland,111,8,116,1,0,0,757,83,16,3,124
Barron,101,4,155,5,0,0,975,72,56,1,318
Bayfield,73,4,120,1,0,0,225,30,8,0,53
Brown,1460,50,1077,13,44,1,7593,507,392,169,3759
...,...,...,...,...,...,...,...,...,...,...,...
Waukesha,537,19,965,19,1,0,9094,474,196,142,1693
Waupaca,182,5,268,3,0,0,1518,77,72,4,423
Waushara,64,2,115,1,0,0,768,29,18,2,212
Winnebago,655,22,964,8,5,3,5371,364,213,74,2191
Wood,65,8,376,4,0,0,2979,137,140,8,740

In [8]:
# Clean up those column names
offenses_data_df.reset_index(inplace=True)
offenses_data_df['county'] = offenses_data_df['county'].astype(str)
offenses_data_df.head()

,county,sum_offense_count Aggravated Assault,sum_offense_count Arson,sum_offense_count Burglary,sum_offense_count Homicide,sum_offense_count Human Trafficking - Commercial Sex,sum_offense_count Human Trafficking - Involuntary Servitude,sum_offense_count Larceny Theft,sum_offense_count Motor Vehicle Theft,sum_offense_count Rape - revised 2017,sum_offense_count Robbery,sum_offense_count Simple Assault
0,Adams,92,6,343,0,1,0,559,33,20,4,453
1,Ashland,111,8,116,1,0,0,757,83,16,3,124
2,Barron,101,4,155,5,0,0,975,72,56,1,318
3,Bayfield,73,4,120,1,0,0,225,30,8,0,53
4,Brown,1460,50,1077,13,44,1,7593,507,392,169,3759

In [9]:
# Create a toatl offense count column
sum_column = offenses_data_df['sum_offense_count Aggravated Assault'] + offenses_data_df['sum_offense_count Arson'] + offenses_data_df['sum_offense_count Burglary'] + offenses_data_df['sum_offense_count Homicide'] + offenses_data_df['sum_offense_count Human Trafficking - Commercial Sex'] + offenses_data_df['sum_offense_count Human Trafficking - Involuntary Servitude'] + offenses_data_df['sum_offense_count Larceny Theft'] + offenses_data_df['sum_offense_count Motor Vehicle Theft'] + offenses_data_df['sum_offense_count Rape - revised 2017'] + offenses_data_df['sum_offense_count Robbery'] + offenses_data_df['sum_offense_count Simple Assault']
offenses_data_df["total_offenses"] = sum_column

In [10]:
# Looky looky
offenses_data_df

,county,sum_offense_count Aggravated Assault,sum_offense_count Arson,sum_offense_count Burglary,sum_offense_count Homicide,sum_offense_count Human Trafficking - Commercial Sex,sum_offense_count Human Trafficking - Involuntary Servitude,sum_offense_count Larceny Theft,sum_offense_count Motor Vehicle Theft,sum_offense_count Rape - revised 2017,sum_offense_count Robbery,sum_offense_count Simple Assault,total_offenses
0,Adams,92,6,343,0,1,0,559,33,20,4,453,1511
1,Ashland,111,8,116,1,0,0,757,83,16,3,124,1219
2,Barron,101,4,155,5,0,0,975,72,56,1,318,1687
3,Bayfield,73,4,120,1,0,0,225,30,8,0,53,514
4,Brown,1460,50,1077,13,44,1,7593,507,392,169,3759,15065
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Waukesha,537,19,965,19,1,0,9094,474,196,142,1693,13140
68,Waupaca,182,5,268,3,0,0,1518,77,72,4,423,2552
69,Waushara,64,2,115,1,0,0,768,29,18,2,212,1211
70,Winnebago,655,22,964,8,5,3,5371,364,213,74,2191,9870
71,Wood,65,8,376,4,0,0,2979,137,140,8,740,4457

In [11]:
# Merge the two dataFrames together
merged_df = pd.merge(population_data_df, offenses_data_df, how='outer', on=['county'])
merged_df

,state,county,ue_rural_urban_continuum_code_2013,ue_urban_influence_code_2013,ue_metro_2013,ue_civilian_labor_force_2000,ue_employed_2000,ue_unemployed_2000,ue_unemployment_rate_2000,ue_civilian_labor_force_2001,...,sum_offense_count Burglary,sum_offense_count Homicide,sum_offense_count Human Trafficking - Commercial Sex,sum_offense_count Human Trafficking - Involuntary Servitude,sum_offense_count Larceny Theft,sum_offense_count Motor Vehicle Theft,sum_offense_count Rape - revised 2017,sum_offense_count Robbery,sum_offense_count Simple Assault,total_offenses
0,WI,Adams,8,6,0,8892,8502,390,4.4,9093,...,343,0,1,0,559,33,20,4,453,1511
1,WI,Ashland,7,11,0,8904,8434,470,5.3,9129,...,116,1,0,0,757,83,16,3,124,1219
2,WI,Barron,6,6,0,24959,23987,972,3.9,25291,...,155,5,0,0,975,72,56,1,318,1687
3,WI,Bayfield,8,6,0,7715,7309,406,5.3,7948,...,120,1,0,0,225,30,8,0,53,514
4,WI,Brown,2,2,1,131182,127485,3697,2.8,132306,...,1077,13,44,1,7593,507,392,169,3759,15065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,WI,Waukesha,1,1,1,210606,204958,5648,2.7,211507,...,965,19,1,0,9094,474,196,142,1693,13140
68,WI,Waupaca,6,6,0,27822,26899,923,3.3,28148,...,268,3,0,0,1518,77,72,4,423,2552
69,WI,Waushara,6,6,0,11801,11313,488,4.1,12366,...,115,1,0,0,768,29,18,2,212,1211
70,WI,Winnebago,3,2,1,89669,87231,2438,2.7,91472,...,964,8,5,3,5371,364,213,74,2191,9870
71,WI,Wood,4,5,0,40907,39344,1563,3.8,41138,...,376,4,0,0,2979,137,140,8,740,4457

In [12]:
# Make a CSV to show your friends, or keep for future use...
# Output new CSV
output_file_path = "merged_data.csv"
merged_df.to_csv(output_file_path, index=False)

In [13]:
#Drop labels, we already know this data trends to state and county
ml_data_df = merged_df.drop(['state', 'county'], axis=1)
ml_data_df

,ue_rural_urban_continuum_code_2013,ue_urban_influence_code_2013,ue_metro_2013,ue_civilian_labor_force_2000,ue_employed_2000,ue_unemployed_2000,ue_unemployment_rate_2000,ue_civilian_labor_force_2001,ue_employed_2001,ue_unemployed_2001,...,sum_offense_count Burglary,sum_offense_count Homicide,sum_offense_count Human Trafficking - Commercial Sex,sum_offense_count Human Trafficking - Involuntary Servitude,sum_offense_count Larceny Theft,sum_offense_count Motor Vehicle Theft,sum_offense_count Rape - revised 2017,sum_offense_count Robbery,sum_offense_count Simple Assault,total_offenses
0,8,6,0,8892,8502,390,4.4,9093,8632,461,...,343,0,1,0,559,33,20,4,453,1511
1,7,11,0,8904,8434,470,5.3,9129,8592,537,...,116,1,0,0,757,83,16,3,124,1219
2,6,6,0,24959,23987,972,3.9,25291,24093,1198,...,155,5,0,0,975,72,56,1,318,1687
3,8,6,0,7715,7309,406,5.3,7948,7501,447,...,120,1,0,0,225,30,8,0,53,514
4,2,2,1,131182,127485,3697,2.8,132306,127088,5218,...,1077,13,44,1,7593,507,392,169,3759,15065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,1,1,1,210606,204958,5648,2.7,211507,203911,7596,...,965,19,1,0,9094,474,196,142,1693,13140
68,6,6,0,27822,26899,923,3.3,28148,26860,1288,...,268,3,0,0,1518,77,72,4,423,2552
69,6,6,0,11801,11313,488,4.1,12366,11715,651,...,115,1,0,0,768,29,18,2,212,1211
70,3,2,1,89669,87231,2438,2.7,91472,88058,3414,...,964,8,5,3,5371,364,213,74,2191,9870
71,4,5,0,40907,39344,1563,3.8,41138,39174,1964,...,376,4,0,0,2979,137,140,8,740,4457

In [14]:
# Make a CSV to show your friends, or keep for future use...
# Output new CSV
output_file_path = "ml_data.csv"
ml_data_df.to_csv(output_file_path, index=False)